<div class="container">
  <div class="page-header"><h1><%= @user.name %></h1></div>
  <div class="row">
    <div class='col-sm-4'>
      <%= image_tag(@user.avatar.thumb.url, class: "top-picks edit-profile") %><br />
      <% if current_user.admin? %>
        <%= button_to "Edit user", edit_user_path(@user), method: :get, class: "edit-profile" %>
      <% else %>
        <%= button_to "Edit account", edit_user_registration_path(@user), method: :get, class: "edit-profile" %>
      <% end %>
    </div>
    <div class='col-sm-4'>
      <table>
        <tr>
          <th>Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= mail_to(@user.email) %></td>
        </tr>
        <tr>
          <th>Member since</th>
          <td><%= @user.created_at %></td>
        </tr>
      </table>
      <br /><br />
      <% @user.reviews.each do |review| %>
        <div class="review-border">
          User's review of: <%= link_to review.restaurant.name, restaurant_path(review.restaurant.id) %>
          <br /><br />
          <p><%= review.body %></p>
        </div>
     <% end %>
    </div>
  </div>
</div>
