<div id="home" class="home">
  <div class="text-vcenter">
    <h3 class="landing">boston<span class="landing-strong-red">CHINA</span></h3>
    <h3 class="landing"><span class="landing-strong">TOWN</span>best<span class="red-text">eats</span></h3>
  </div>
</div>

<!-- second section - About -->
<div class="red-border"></div>
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <iframe src=<%= @google_maps_url %>></iframe>
        <!-- <img class = "top-picks" src="assets/placeholder.jpg" alt="" /> -->
      </div>
      <div class="col-sm-6 text-center" id="next-to-map">
        <h2>The best (and worst) that Boston's Chinatown has to offer.</h2>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Today's Top Picks</h2> <hr />
    <div class="row text-center">
      <% Restaurant.top_restaurants.each do |restaurant| %>
        <div class="col-sm-4 col-xs-6">
          <% if restaurant[0].photo.url %>
            <%= image_tag(restaurant[0].photo.thumb.url, class: "top-picks") %>
          <% else %>
            <img class="placeholder" src="assets/restaurant_placeholder.png">
          <% end %>
          <div class="top-pick-name">
            <h4><%= link_to restaurant[0].name, restaurant_path(restaurant)%></h4>
          </div>
          <div class="rice-bowl">
            <img src="assets/bowl-<%= restaurant[0].average_rating %>.png">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->

<div id="information" class="pad-section">
  <div class="container" id="restaurants">
    <div class="col-xs-12" id="restaurant-buttons">
      <div class="pull-left grey actions">
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :search_text %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <div class="pull-right grey actions">
        <% if user_signed_in? %>
          <%= button_to 'New restaurant', new_restaurant_path, method: :get %>
        <% else %>
          <p>Please<%= link_to ' sign in', new_user_session_path %> to create a new restaurant</p>
        <% end %>
      </div>
    </div>
    <br />
    <br />

    <div class="row page">
      <%= render @restaurants %>
    </div>
  </div>

  <%= paginate @restaurants %>

</div>
<!-- /fourth section -->
