<h1>All restaurants</h1>

<% if user_signed_in? %>
  <%= link_to 'New restaurant', new_restaurant_path %>
<% else %>
  <p>Please<%= link_to ' sign in', new_user_session_path %> to create a new restaurant</p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant_path(restaurant)
 %></td>
      <td><%= restaurant.street_address %></td>
      <td><%= restaurant.city %></td>
      <td><%= restaurant.state %></td>
      <td><%= restaurant.zip_code %></td>
    </tr>
  <% end %>
</table>

<%= paginate @restaurants %>

