<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @restaurant.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @restaurant.zip_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Reservations:</strong>
  <%= @restaurant.reservations %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @restaurant.delivery %>
</p>

<%= link_to 'Back', restaurants_path %>

<br />
<% if current_user != nil %>
  <% if current_user.try(:admin?) || current_user.id == @restaurant.user_id %>
    <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %>
    <br />
    <%= link_to 'Delete restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Write Review', new_restaurant_review_path(@restaurant) %>
<% end %>

<% @restaurant.reviews.each do |r| %>
  <p>Rating:<%=r.rating%></p>
  <p>Review:<%=r.body%></p>
  <%= button_to "Up vote", review_upvotes_path(r) %>
  <%= r.score %>
  <%= button_to "Down vote", review_downvotes_path(r) %>
  <% if r.user == current_user %>
    <%= link_to 'Delete Review', restaurant_review_path(r.restaurant_id, r.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit Review', edit_restaurant_review_path(r.restaurant_id, r.id) %>
  <% end %>
<% end %>
