<!--  -->
<!-- Restaurant Name -->
<!--  -->

<div id="restaurant-show-name" class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="horizontal">
          <div class="vertical">
            <% if @restaurant.photo.url %>
              <%= image_tag(@restaurant.photo.url, class: "top-picks", id: "restaurant-picture") %>
          <% else %>
            <%= image_tag "restaurant_placeholder.png", class: "placeholder" %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text-vcenter" id="restaurant-name">
          <h3 class="landing"><span class="landing-strong-red"><%= @restaurant.name %></span></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
<!-- Map and Contact Info -->
<!--  -->
<div class="red-border"></div>
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <iframe src="<%= @google_maps_url %>"></iframe>
      </div>
      <div class="col-sm-6 text-left">
        <div class="horizontal">
          <div class="vertical" id="contact-info">
            <table class="contact-info">
              <tr>
                <th>Address:</th>
                <td><%= @restaurant.street_address %></td>
              </tr>
              <tr>
                <th>City:</th>
                <td><%= @restaurant.city %></td>
              </tr>
              <tr>
                <th>State:</th>
                <td><%= @restaurant.state %></td>
              </tr>
              <tr>
                <th>Zip-code</th>
                <td><%= @restaurant.zip_code %></td>
              </tr>
              <tr>
                <th>Reservations:</th>
                <td><%= @restaurant.reservations ? "Yes" : "No" %></td>
              </tr>
              <tr>
                <th>Delivery:</th>
                <td><%= @restaurant.delivery ? "Yes" : "No" %></td>
              </tr>
              <tr>
                <th>Phone:</th>
                <td><%= @restaurant.phone %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
<!-- Description -->
<!--  -->

<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">About this restaurant...</h2> <hr />
    <h4 class="text-center"><%= @restaurant.description %></h4>
  </div>
</div>

<!--  -->
<!-- Reviews -->
<!--  -->

<div id="information" class="pad-section">
  <div class="container" id="reviews">
    <div class="col-xs-12 review-buttons">
      <div class="pull-right grey">
        <div class="actions" id="review-buttons">
          <% if user_signed_in? %>
            <% if @restaurant.editable_by?(current_user) %>
              <%= button_to 'Edit restaurant', edit_restaurant_path(@restaurant), method: :get %>
              <br />
              <%= button_to 'Delete restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <%= button_to 'Write Review', new_restaurant_review_path(@restaurant), method: :get %>
          <% else %>
          <div class="sign-in">
            <p>Please<%= link_to ' sign in', new_user_session_path %> to write a new review</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="row page">
      <%= render @reviews, locals: { reviews: @reviews } %>
    </div>
  </div>

  <%= paginate @reviews %>

</div>
