<p><strong>Write your review of <%= @restaurant.name %></p></strong>
<%= form_for [ @restaurant , @review ] do |f| %>
<p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :rating %> <br>
    <% Review::RATINGS.each do |c| %>
      <%= f.radio_button(:rating, c)%>
      <%= f.label("rating_#{c.to_s}", c) %>
    <% end %>
  </p>
  <%= f.submit%>
  <% end %>
